{% extends 'base_test.html.twig' %}

{% block title %}Hello ConversationController!{% endblock %}

{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
